/* место для вашего кода */
* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-style: normal;

}

.header {
  display: flex;
  margin: auto;
  margin-top: 89px;
  margin-left: 51px;
  margin-right: 49px;
  margin-bottom: 90px;
  justify-content: space-between;
  gap: 208px;
}

.nav {
  margin: auto;
  color: black;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
}

.nav-list {
  list-style: circle;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin: auto;
  margin-top: -1px;
}

.header-links-list-item-no-bullit {
  list-style: none;
  text-decoration: none;
}

.img-logo {
  margin: auto;
  height: 104px;
  width: 148px;
  margin-right: 149px;
}

.info-header-block {
  display: flex;
  margin: auto;
  justify-content: flex-end;
  color: black;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24.3px;
  word-wrap: break-word;
  margin-right: 3px;
}

.info-header {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.address {
  font-style: normal;
}

.cover {
  display: flex;
  width: 100%;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  margin-top: 92px;
}

.shadow {
  max-width: 100%;
  min-height: 100%;
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-size: 68px;
  font-family: Raleway;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 115px;
  letter-spacing: 30px;
  word-wrap: break-word;
}

.header-text {
  margin-top: 165px;
}

.head-1 {
  color: white;
  font-size: 100px;
  font-family: Raleway;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 115px;
  word-wrap: break-word;
  display: block;
  margin-left: 50px;
  text-align: left;
  letter-spacing: 30px;
}

.no-letter-spacing-1 {
  padding-left: 29px;
  letter-spacing: 90px;
}

.head-2 {
  color: white;
  font-size: 100px;
  font-family: Raleway;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 115px;
  word-wrap: break-word;
  display: block;
  text-align: center;
  margin-top: 12px;
  letter-spacing: 30px;
}

.no-letter-spacing-2 {
  padding-left: 29px;
  letter-spacing: 61px;
}

.head-3 {
  color: white;
  font-size: 100px;
  font-family: Raleway;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 115px;
  letter-spacing: 30px;
  word-wrap: break-word;
  display: block;
  text-align: end;
  margin-top: 5px;
}

.no-letter-spacing-3 {
  padding-right: 29px;
}

.no-letter-spacing-4 {
  padding-right: 21px;
}

.cover-text-lower {
  display: flex;
  justify-content: end;
  gap: 84px;
  color: white;
  font-size: 22px;
  font-family: Raleway;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 28px;
  word-wrap: break-word;
  margin-top: 140px;
  margin-right: 50px;
}

.lower-text {
  word-spacing: 17px;
}


.btn {
  margin-top: -13px;
  color: white;
  font-size: 22px;
  font-family: Raleway;
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word;
  cursor: pointer;
  border: 1px solid #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 32px;
  padding-right: 32px;
  background: transparent;
  background-color: transparent;
}

.lots {
  margin-top: 180px;
}

.lots-heading {
  margin-left: 90px;
  margin-bottom: 27px;
  color: black;
  font-size: 40px;
  font-family: Raleway;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 100%;
  max-height: 100%;
}


.card {
  width: 430px; 
  min-height: 450px; 
  max-height: 100%; 
  background-size: cover; 
}

.card-type-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-type-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-type-picture {
  background-image: url(../images/card-lot-03.jpg);
}
 
.lots-card-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
}

.lots-card-list-item {
  max-width: 100%;
  min-height: 100%;
  flex-grow: 1;
  margin-top: 50px;
  margin-left: 40px; 
}
/*У карточек разные отступы, по этому был добавлен доп класс*/
.indent-1 {
  margin-right: 38px;
}

.indent-2 {
  margin-right: 40px;
}

.indent-3 {
  margin-right: 50px;
}

.card-title {
  color: white;
  font-size: 22px;
  font-family: Raleway;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  line-height: 26.4px;
  word-wrap: break-word;
}

.card-text {
  color: white;
  font-size: 20px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  text-decoration: none;
}

.card-link {
  display: flex;
  list-style: none;
  text-decoration: none;
}

.link-more {
  display: block;
  margin-top: 31px;
  margin-left: 90px;
  color: black;
  font-size: 20px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
}

.first {
  margin-top: 202px;
}

.second {
  margin-top: 31px;
}

.third {
  margin-top: 79px;
  margin-right: 43px;
}

.about {
  display: flex;
  justify-content: flex-start;
  gap: 102px;
  margin-top: 184px;
  margin-left: 50px;
  margin-right: 50px;
}

.about-logo {
  display: flex;
  justify-content: center;
  background-color: black;
  border-radius: 100%;
  width: 1122px;
  height: 240px;
  margin-left: 94px;
  margin-top: -4px;
}

.img-logo-white {
  max-width: 62%;
}

.about-text-block {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 97px;
  flex-wrap: wrap;
  margin-left: 17px;
  padding-left: 2px;
}

.about-title {
  color: black;
  font-size: 40px;
  font-family: Raleway;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
  margin-bottom: 100px;
}

.text-about {
  color: black;
  font-size: 20px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
  margin-bottom: 25px;
}

.footer {
  margin-top: 155px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
  gap: 350px;
}

.nav-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 280px;
}

.nav-list-2 {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -37px;
  color: black;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
}

.info-footer {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 240px;
  color: black;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24.3px;
  word-wrap: break-word;
}

.footer-social-icon {
  display: flex;
  max-width: 100%;
  gap: 46px;
  margin-top: -2px;
}

.social-icon {
  height: 50px;
  width: 50px;
}
